<div class="container">
    <div class="form">
        
 <form action="/add" method="POST">
  <label for="title">Título</label>
  <input type="text" class="form-control" name="titulo">
   <label for="title">Conteúdo</label>
    <textarea name="conteudo" class="form-control" ></textarea>
    <br>
    <button type="submit" class="btn btn-success float-right">Cadastrar</button>
</form>

</div>
</div>

